body {
    background-color: rgb(110, 2, 99);
  }
  .header {
padding: 80px;
text-align: center;
background: #090b0e;
color: white;
}
.navbar{
    border:1px solid rgb(255, 255, 255); 
    overflow: hidden;
background-color: #333;
grid-row-end: form;
}
.navbar a{
    float: left;
    display: block; 
    color: white;
    text-align: center;
    padding: 17px 23px; 
    text-decoration: none; 
}
.navbar a:hover {
    
    color: black;
    border-bottom: 3px solid rgb(228, 224, 224);
}